# File: v3io.yaml

# NGINX server address:PORT
v3ioUrl: <path to server>:8081

# V3IO container ID or Name
container: <v3io container>

# Path in the container (default, should be override by test)
path: <tsdb path>

# Logging level. Valid values: debug,info,warn,error (Default: info)
verbose: "warn"

# Default timeout 10 seconds
timeout: 10

username: <user name>
password: <password>
